@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
  --bg-gray: #eeeae7;
  --bg-blue: #5e92a7;
  --danger-accent: #eececf;
  --danger: #d84c46;
  --warning-accent: #eedac1;
  --warning: #e09523;
  --success-accent: #cfd6cf;
  --success: #558569;
  --text-danger: #ba6570;
  --main-dark: #423a38;
  --white: #f7f7f7;
  --black: #111111;

  --p-inline: 15rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--bg-gray) !important;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
